/*Mobile General CSS*/
* {
	box-sizing: border-box;
	}

body {
	font-family: arial, sans-serif;
	margin: 1% 2%;
	}

h1 {
	text-align: center;
	font-size: 3em;
	}

nav {
	text-align: center;
	}

ul {
	padding: 0;
	}

li {
	list-style: none;
	background-color: #ddd;
	margin-bottom: 10px;
	padding: 0;
	}

li > a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	padding: 20px 0;
	}
li > a:hover {
	font-weight: bold;
}

/*Tested different values to achieve the final result*/
/*Used margin top to space out containers*/
.hidden-on-desktop {
	text-align: center;
	margin-top: 30px;
	width: 100%;
	}

.hidden-on-desktop a {
	background-color: azure;
	padding: 20px 0;
	display: block;
	font-style: normal;
	color: black;
	border: 1px solid gray;
	}

.hidden-on-desktop a:visited,
.hidden-on-desktop a:link {
	text-decoration: none;
	}
	
/*Used below code to center the image*/
img {
	width: 100%;
	}

#social-media-links ul {
	padding: 0;
	}

#social-media-links li {
	list-style: none;
	background-color: white;
	display: contents;
	}

#social-media-links li > a {
	display: inline-block;
	width: 10%;
	}
/*Below code for social media links to move right*/
footer ul {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	}

footer p {
	float: left;
	}

footer a {
	text-decoration: none;
	color: black;
	padding: 1em;
	}

footer a:hover{
	color: blue;
}

/*Desktop CSS*/
@media screen and (min-width: 992px) {


	.hidden-on-desktop {
		display: none;
		}

	.nav {
		float: right;
		}

	li {
		padding: 0;
		margin-left: 30px;
		list-style: none;
		background: white;
		float: right;
		}

	h1 {
		text-align: left;
		font-size: 2.5em;
		float: left;
		}

	img {
		margin-top: 40px;
		}

	section {
		float: left;
		}

	.main {
		width: 70%;
		}

	.main > p {
		padding-right: 40px;
		}

	.sub-section {
		width: 30%;
		}
	/*Moved social media icons to the bottom right of the page*/
	footer {
		margin-top: 600px;
		display: flex;
		justify-content: space-between;
		}
	footer ul {
		list-style: none;
		padding: 0;
		}
	}
